
*.o
term0.out
term1.out
term2.out
term3.out
test00
test01
test02
test03
test04
test05
test06
test07
test08
test09
test10
test13
test14
test15
test16
test17
test18
test19
test20
test21
test22
test23
test24
test25
test26
test27
test28
test29
test30
test31
test32
test33
test34
test35
test36
testcases/test00.student_out
testcases/test01.student_out
testcases/test02.student_out
testcases/test03.student_out
testcases/test04.student_out
testcases/test05.student_out
testcases/test06.student_out
testcases/test07.student_out
testcases/test08.student_out
testcases/test09.student_out
testcases/test10.student_out
testcases/test13.student_out
testcases/test14.student_out
testcases/test15.student_out
testcases/test16.student_out
testcases/test17.student_out
testcases/test18.student_out
testcases/test19.student_out
testcases/test20.student_out
testcases/test21.student_out
testcases/test22.student_out
testcases/test23.student_out
testcases/test24.student_out
testcases/test25.student_out
testcases/test26.student_out
testcases/test27.student_out
testcases/test28.student_out
testcases/test29.student_out
testcases/test30.student_out
testcases/test31.student_out
testcases/test32.student_out
testcases/test33.student_out
testcases/test34.student_out
testcases/test35.student_out
testcases/test36.student_out
test00
test01
test02
test03
test04
test05
test06
test07
test08
test09
test10
test13
test14
test15
test16
test17
test18
test19
test20
test21
test22
test23
test24
test25
test26
test27
test28
test29
test30
test31
test32
test33
test34
test35
test36
